h1 {
  text-align: left;
  background-color: whitesmoke;
  color: blue;
}

h2 {
  color: seagreen;
}

h3 {
  color: royalblue;
}

img {
  box-shadow: 10px 10px 5px grey;
}

section {
  background-color: #000;
}

p {
  font-size: 15px;
  color: gray;
}

ul {
  border-style: solid;
  color: gray;
}

.main {
  background-color: white;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  background-color: lightgrey;
}

.top_menu {
  background-color: white;
  text-align: right;
}

.dropdown {
  position: relative;
  text-align: right;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.comparisons {
  right: 5px;
}

.plots {
  display: grid;
  grid-template-columns: repeat(2);
  grid-template-rows: repeat(2);
  grid-gap: 10px;
}

.data_table {
  display: table;
  position: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 20 px;
  background-color: white;
}